.results {
  text-align: center;
}
.word {
  font-size: 25px !important;
  font-weight: 800px !important;
  text-transform: uppercase !important;
}

.aa {
  color: #ff5722;
  border: 1px solid #bcaaa4;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 400px;
  transition: 150ms all ease-in-out;
}
.aa:hover {
  background-color: #ff5722;
  color: white;
}
.Phonetic {
  margin-bottom: 20px;
}
.text {
  opacity: 0.7;
}
.speech {
  font-size: 24px;
  line-height: 1.5;
}
.example {
  font-size: 13px !important;
}
.Synonyms li {
  display: inline-block;
  padding: 2px 5px;
  font-size: 13px;
  margin: 5px;
  border: 1px solid rgba(255, 87, 37, 0.7) !important;
  border-radius: 10px;
}
.Defintion {
  font-weight: bold !important;
  text-align: justify;
}
img {
  border-radius: 6px 6px !important;
  margin: 7px 2px;
  padding: 3px 10px;
}
section {
  background-color: white !important;
  width: 800px !important;
  border: 1px solid rgba(255, 87, 34, 0.3) !important;
  border-radius: 4px !important;
  margin: 20px auto !important;
  box-shadow: 1px 1px 1px rgba(255, 87, 37, 0.7) !important;
  padding-bottom: 10px !important;
}
