.Search section {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  margin: 20px auto;
  box-shadow: 1px 1px 1px  #ff5722 0.7;
width: 600px;

}
.DicSearch {
  border: 1px solid #ff5722 0.5;
  display: block;
  border-radius: 8px;
  padding: 6px 10px;
  margin: 20px auto;
  width: 75%;
  box-shadow: 1px 1px 1px #ffccbc );
}
small {
  font-size: 10px;
  text-align: center;
}
